*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets//gradient-bg.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}
.game-info{
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
}
.tic-tac-toe{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 50%;
    max-width: 20rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;
    /* new method become square height/width se bhi*/
} 
.box{
  position: relative;  
  /* baad m iske upar chije overlap karva paye islye relative*/
   width:100%;
   aspect-ratio: 1/1;

   cursor: pointer;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: aqua;
   font-size: 3rem;
   display: flex;
   align-items: center;
   justify-content: center;

}

.box1 ,.box2, .box4, .box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box3,.box6{
    border-bottom: 2px solid white;
}
.box7,.box8{
    border-right: 2px solid white;
}

.btn{
    display: none;
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 2rem;
    text-align: center;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}
.btn.active{
    display: flex;
}
.win{
    background-color: green;
}